<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatteryNotifier.Setting.appSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BatteryNotifier.Setting.appSetting>
            <setting name="fullBatteryNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lowBatteryNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullBatteryNotificationValue" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="lowBatteryNotificationValue" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="fullBatteryNotificationMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="lowBatteryNotificationMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="PinToNotificationArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkThemeApplied" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaunchAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>68e189cd-278f-436f-b76a-8a4b75ec0b7c</value>
            </setting>
            <setting name="SystemThemeApplied" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>True</value>
            </setting>
        </BatteryNotifier.Setting.appSetting>
    </userSettings>
</configuration>